.Navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 6vh;
}

.logo {
  margin-right: 15px;
  padding: 0 13px;
  font-size: 22px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: blueviolet;
}

.slider {
  width: 400px;
  margin: 0 10px;
  display: inline-block;
  background-color: transparent;
}

.rc-slider-track {
  background-color: rgb(116, 116, 116);
  height: 8px;
}

.rc-slider-rail {
  height: 8px;
  background-color: rgb(85, 85, 85);
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  background-color: blueviolet;
  outline: none;
  border: 2px solid blueviolet;
  box-shadow: none;
  width: 13px;
  height: 13px;
  margin-left: 0px;
  margin-top: -3px;
}

.select-container {
  margin-left: auto;
  margin-right: 20px;
}
